.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  height: 300px;
  width: 80%;
  text-align: left;
}

.container-body {
  display: flex;
}

.left-side {
  width: 60%;
  background-color: white;
}

.right-side {
  width: 40%;
  background-color: white;
  z-index: 1;
}

.status-list-wrapper {
  display: flex;
  flex: 4 1;
}

.divider {
  background-color: transparent !important;
  height: 3px !important;
}

.container-header {
  font-weight: bold;
  text-align: left;
}

.MuiListItemText-primary {
  color: #368be4;
  font-weight: bold;
}

..MuiTypography-root {
  font-weight: bold !important;
}

#breathing-status {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  border: 3px solid #cecbcb;
  font-size: 16px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.status-error-message {
  color: red;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  /* position: absolute; */
  bottom: 80px;
  margin: 0px 5px 0px 0px;
}
