.sun-svg {
  position: absolute;
  z-index: -4;
}

.cloud-svg {
  position: absolute;
  z-index: -1;
}

.tree-svg {
  position: absolute;
  height: 50px;
}

.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.gardening-grass-svg {
  position: absolute;
  height: 40px;
}
