.cycle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  height: 32px;
}

.round-text {
  display: inline;
  margin: 0px;
}

.cycle-switch {
}

.time-pickers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  margin: 8px auto;
}

.time-picker {
  margin: 5px 0px;
  width: 130px;
}
