.day-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    height: 35px;
    margin: 5px auto;
}

.day-wrapper:hover {
    /* border-bottom: 1px dashed; */
    border-radius: 20px;
    padding: 2px;
    box-shadow: 1px 1px 2px 0px #6b79c7;
    cursor: pointer;
}

.day-wrapper:active {
    box-shadow: 0px 0px 2px 0px #6b79c7;
}

.day-text {
    margin: 3px 5px 5px 5px;
    padding-left: 5px;
}

.day-switch {
    /* top: 15px; */
}