.tab-body {
  display: flex;
  flex-direction: row;
  /* margin-left: auto;
    margin-right: auto; */
  justify-content: center;
}

.tab-object-wrapper {
  margin: auto 35px;
}

/* .tab {
    width: 500px;
} */