.breathing-button-wrapper {
  margin-top: 45px;
  margin-bottom: 40px;
}

#breathing-button {
  border-radius: 50% !important;
  border: 7px solid #cecbcb !important;
  font-size: 16px;
  border-radius: 2px;
  text-align: center;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

#breathing-button:active {
  transform: scale(0.9);
}

#breathing-button:disabled {
  transform: scale(0.9);
  border-color: #cac9c9 !important;
}

.breathing {
  animation: breathing 2.5s linear infinite;
  -webkit-font-smoothing: antialiased;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
