.main-container {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul.week-list {
    padding: 0;
}

.form-body-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 670px;
}

.form-body {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.form-object-wrapper {
    margin: auto 50px;
    padding: 10px 0px;
}

.Submit-button-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mock-label {
    width: 90px;
}

.onetime-button {
    
}

.loader-wrapper {
    margin-top: 30px;
    padding-left: 10px;
}

.loader {
    height: 50px !important;
    width: 50px !important;
}

.submit-message {
    font-weight: bold;
}

