.main-container {
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.error-wrapper {
  margin-top: 40px;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.loader-wrapper {
  margin-top: 40px;
  text-align: center;
}

.loader {
  height: 50px !important;
  width: 50px !important;
}

.signout {
  position: fixed;
  top: 70%;
  left: 7%;
  width: 90px;
  cursor: pointer;
}

.balloon-animation {
  animation: float 2.5s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.st5 {
  fill: #b3b5b8 !important;
}

@media (max-width: 1100px) {
  .signout {
    position: relative;
    top: unset;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}
