.main-container {
    text-align: center;
    margin: 0px 100px;
}

ul {
    list-style-type: none;
}

.form-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-object-wrapper {
    margin: auto 50px;
    padding: 10px 0px;
}

.Submit-button-wrapper {
    padding-top: 30px;
    padding-left: 10px;
}

.loader-wrapper {
    margin-top: 30px;
    padding-left: 10px;
}

.loader {
    height: 50px !important;
    width: 50px !important;
}

.submit-message {
    font-weight: bold;
}